@media (max-width:600px) {
    body {
        position: relative;
        overflow-x: hidden;
    }
    nav{
        padding: 30px;
    }
    #bars {
        display: block;
    }

    .nav-links {
        z-index: 1;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background: var(--black-color);
        padding: 35px 100px;
        transition: 0.7s;
        transform: translateX(-100%);
        /* display: none; */
    }
    .toggle{
        /* display: block; */
        transform: translate(0%);
    }
    .nav-links a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    .nav-links :last-child{
        margin-bottom: 0;
    }
    .banner h2{
        font-size: 2.7rem;
    }
    .about-card{
        text-align: center;
        padding: 25px 15px;
    }
}